* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../assets/background/signup.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.home-container {
    text-align: center;
    margin-top: 20px;
}

.home {
    margin-bottom: 3rem;
    display: inline-block;
    padding: 10px 20px;
    background-color: #c09983;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.home:hover {
    background-color: #806353;
}

@media (max-width: 768px) {
    .nav ul {
        flex-direction: column;
    }

    .nav ul li {
        margin-bottom: 10px;
    }
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav ul li a.active,
.nav ul li a:hover {
    color: #75d6b6;
}
